* {
  box-sizing: border-box;
}
ul {
  display: flex;
  min-height: 70px;
  max-height: 100px;
  background-color: aqua;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}
h1 {
  /* text-align: center; */
  margin-top: 30px;
}
section {
  padding: 10px;
}
.container {
  display: flex;
  min-width: 75%;
  max-width: 100%;
  margin: 20px;
}
/* main {
  text-align: center;
} */
.car-logo {
  display: inline-block;
  width: 200px;
  height: 100px;
}
table {
  border: 2px solid red;
  margin: 30px auto;
}
tr, th, td {
  border: 2px solid blueviolet;
  text-align: center;
}
th {
  width: 120px;
}
tr>th:first-child {
  width: 100px;
}

h2 {
  text-align: center;
  margin-top: 20px;
  /* text-transform: uppercase; */
}
footer{
  display: flex;
  background-color: teal;
  color: white;
  justify-content: center;
  align-items: baseline;
}
address>ul {
  display: inline;
  background-color: teal;
}
footer>div {
  display: inline-block;
  text-align: center;
}
footer>div>div>a {
  color: white;

}
h3 {
  text-align: center;
}
h1::first-letter {
  color: red;
}
section>p::first-line {
  color: blue;
}
/* h2::before {
  content: "\2618";
} */
p {
  /* font-weight: lighter; */
  text-indent: 3em;
  /* line-height: 1.8em; */
}
h1 {
  animation-name: header-h1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes header-h1 {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
  50% {
    margin-left: 50%;
    font-size: 200%;
    color: red;
    transform: rotate(180deg);
  }
}
.car-logo {
  animation-name: car-logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

@keyframes car-logo {
  from {
    width: 200px;
    height: 100px;
  }

  to {
    width: 400px;
    height: 50px;
    transform: rotate(270deg);
  }
}